[user]
	name = BOURGEOIS Vincent
	email = vct.bourgeois@gmail.com
[credential]
	helper = store
[merge]
	tool = meld
[diff]
	guitool = meld
[core]
	excludesfile = /home/vincent/git/.gitignore
        editor = vim
[alias]
	co = checkout
	cob = checkout -b
	c = commit
	cf=commit -a --fixup
	cam = commit -a -m
	s = status
	b = branch
	p = pull
	po = push origin
	poh = push origin HEAD
	d = diff
	l = log --pretty=oneline
	lo = log --graph --format=format:"%C(yellow)%h%C(bold\\ green)%d%C(reset)\\ %s\\ %C(magenta)%ar\\ %C(blue)%an"
	la = "!git lo --all"
	r = reset
	undo = reset HEAD~1 --mixed
	rh = reset --hard	
	a = add 
	aa = add -A
	m = merge
	mt= mergetool
	t= tag
	rb=rebase --interactive --autosquash
[mergetool]
	keepBackup = false
